/* h1{
    color: orange;
    border: 10px dotted purple;
} */

/* ---------------------------- */

#sam{
    color: red;
}
.vohra{
    color: green;
}
h1{
    color: blue;
}

/* ---------------------------- */


