/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* box-model */
div, h1, span, strong{
    width: 100px;
    height: 100px;
    background-color: brown;

    border: 5px solid black;
    padding: 10px;
    margin: 20px;
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
}
span, strong{
    /* display: block; */
    display: inline-block;
}